<div style="display: flex; justify-content: center;">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="userForm">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <div>
          <p *ngIf="successfulRegistration">
            Successful Registration!
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="loginForm.controls['username'].hasError('required')">You must enter a value</mat-error>
              <mat-error *ngIf="loginForm.controls['username'].hasError('minlength')
      && !loginForm.controls['username'].hasError('pattern')">Must be at least 3 characters
              </mat-error>
              <mat-error *ngIf="loginForm.controls['username'].hasError('pattern')">Only characters and numbers
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="loginForm.controls['password'].hasError('required')">You must enter a value</mat-error>
              <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Must be at least 3 characters
              </mat-error>
            </mat-form-field>
          </p>
          <p class="break" *ngIf="error">
            {{errorMessage}}
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.status === 'INVALID'">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
